body {
  background: #141414;
  color: #ffffff;
}


.ReactCarousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carouselTitle {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
  height: 40px;
  width: 200px;
  padding: 5px;
}
.carouselImg {
  height: 350px;
}
.carousel-btn {
  justify-content: center;
  background-color: black;
  color: rgb(224, 196, 36);
}
.carousel-btn:hover {
  color: white;
}
.voteSpan {
  display: flex;
  justify-content: center;
  color: white;
  padding: 5px;
  margin: 5px;
}
.star {
  margin-right: 10px;
  margin-top: 3px;
  color: rgb(224, 196, 36);
}
.recently-section {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: rgb(255, 255, 255);
}
.recently-section img {
  margin: 0px 20px;
  border: 1px solid grey;
  border-radius: 10px;
}
.results {
  position: absolute;
  right: 10px;
  background-color: black;
  width: 300px;
  border: 1px solid rgb(254, 254, 253);
  z-index: 1;
  display: none;
}
.showAll {
  text-align: center;
  padding-top: 5px;
  color: white;
}
.movieContainer {
  position: absolute;
  z-index: 1;
  right: 0px;
}
.searchBarInput {
  overflow-y: scroll;
  max-height: 400px;
  right: 0px;
}
.searchDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border: 1px solid rgb(255, 255, 255);
  margin-right: 10px;
  width: 300px;
  cursor: pointer;
}
.searchBarInput::-webkit-scrollbar {
  display: none;
}
.searchedMovies {
  margin: 20px;
  height: 600px;
  align-items: center;
}

.searchedMoviesTitle {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
  height: 65px;
  margin: 5px;
  width: 250px;
  padding: 5px;
}
.searchImg {
  width: 80px;
  margin-top: 10px;
}

.searchText {
  color: white;
}

.searchedMovieContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.searchedMovieDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  width: 300px;
  max-height: 500px;
  overflow-y: hidden;
}
.searchedMovieDiv img {
  width: 300px;
  height: 350px;
}









a {
  text-decoration: none;
}
.loading {
  color: rgb(255, 255, 255);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #5174ba;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
